In [1]:
import sqlite3
import pandas as pd

In [2]:
csv_path = "../G20_Tech Support â€“ Tickets  Agents with Solutions_merged.csv"
df = pd.read_csv(csv_path, delimiter=';', encoding='utf-8')
df.head()

,tickets_id,agents_id,assignment_date,resolution_time,issue,submission_date,status,solutions_id,agents_name,agents_department,email,resolution_summary,solved_date
0,1818,1,2025/01/05,64,Stop else big particularly.,2025/02/19,Open,250,Shannon Reyes,IT,dominique36@example.net,Political region wide life room letter sound t...,2025/01/30
1,276,86,2025/02/06,35,Then message suddenly practice maybe.,2025/01/11,Pending,1404,Mary Smith,Field Support,carlostravis@example.com,Candidate choice ground help large bed beautif...,2025/01/17
2,796,30,2025/01/19,40,Hour along picture until song read determine.,2025/01/14,Open,162,Chris Garcia,Field Support,john47@example.net,Foot bad hour almost lay want class some cultu...,2025/02/10
3,548,81,2025/01/12,25,But mother anything enjoy save conference ago.,2025/02/11,Open,544,William Torres,Field Support,tammy54@example.org,Decision if example will type within.,2025/01/08
4,870,63,2025/02/01,66,Color finally oil.,2025/01/04,Pending,1081,Laura Burns,Customer Service,ismith@example.com,Save bill series matter evening particular sit...,2025/02/11

In [3]:
conn = sqlite3.connect("../data/tech_support.db")
cursor = conn.cursor()

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Ticket (
                    ticket_id INTEGER PRIMARY KEY,
                    issue TEXT,
                    submission_date TEXT,
                    status TEXT)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Agent (
                    agent_id INTEGER PRIMARY KEY,
                    name TEXT,
                    department TEXT,
                    email TEXT)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS TicketAssignment (
                    ticket_id INTEGER,
                    agent_id INTEGER,
                    assignment_date TEXT,
                    resolution_time INTEGER,
                    FOREIGN KEY(ticket_id) REFERENCES Ticket(ticket_id),
                    FOREIGN KEY(agent_id) REFERENCES Agent(agent_id))''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Solution (
                    solution_id INTEGER PRIMARY KEY,
                    ticket_id INTEGER UNIQUE,
                    resolution_summary TEXT,
                    solved_date TEXT,
                    FOREIGN KEY(ticket_id) REFERENCES Ticket(ticket_id))''')

conn.commit()
print("Base de dados e tabelas criadas com sucesso!")

Base de dados e tabelas criadas com sucesso!

In [5]:
for _, row in df.iterrows():
    cursor.execute("INSERT OR IGNORE INTO Ticket VALUES (?, ?, ?, ?)", 
                   (row['tickets_id'], row['issue'], row['submission_date'], row['status']))
    
    cursor.execute("INSERT OR IGNORE INTO Agent VALUES (?, ?, ?, ?)", 
                   (row['agents_id'], row['agents_name'], row['agents_department'], row['email']))
    
    cursor.execute("INSERT INTO TicketAssignment VALUES (?, ?, ?, ?)", 
                   (row['tickets_id'], row['agents_id'], row['assignment_date'], row['resolution_time']))
    
    cursor.execute("INSERT OR IGNORE INTO Solution VALUES (?, ?, ?, ?)", 
                   (row['solutions_id'], row['tickets_id'], row['resolution_summary'], row['solved_date']))

conn.commit()
conn.close()

print("Dados do CSV importados com sucesso para a base de dados!")

Dados do CSV importados com sucesso para a base de dados!